@model IEnumerable<DoAn3_Vietravel.Areas.Admin.Models.NhanVien>
@using DoAn3_Vietravel.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">Nhân viên</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="card-title">Nhân viên</strong>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary float-right bor-rd" onclick="ThemNhanVien()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bootstrap-data-table-export_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer chunho" role="grid" aria-describedby="bootstrap-data-table-export_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Tên nhân viên</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Số điện thoại</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Địa chỉ</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Công việc</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Thao tác</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.IDNhanVien</td>
                                                    <td>@item.TenNhanVien</td>
                                                    <td>@item.SoDienThoai</td>
                                                    <td>@item.DiaChi</td>
                                                    <td>@item.CongViec</td>
                                                    <td>
                                                        <a class="btn bor-rd btn-primary" onclick="HienThi1NhanVien('@item.IDNhanVien')"><i class="fa fa-eye"></i></a>
                                                        <button class="btn btn-info bor-rd" onclick="SuaNhanVien('@item.IDNhanVien')"><i class="fa fa-edit"></i></button>
                                                        <a class="btn btn-danger bor-rd" onclick="return confirm('Bạn có chắc chắn muốn xoá khách hàng này không?')" href="~/Admin/NhanVien/Xoa1NhanVien/@item.IDNhanVien"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>

<div class="modal" id="modal">
    <div class="modal-content">
        <div class="modal-header pt-0">
            <div class="modal-title"></div>
            <span class="close" data-dismiss="modal">&times;</span>
        </div>
        <form method="post" action="~/Admin/NhanVien/Them1NhanVien" enctype="multipart/form-data">
            <input type="hidden" id="aoe" name="aoe" value="1" />
            <input type="hidden" id="MNV" name="MNV" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 mb-3">Tên nhân viên</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="TNV" id="TNV" class="form-control" placeholder="Nhập tên nhân viên" required />
                    </div>
                    <div class="col-md-2 mb-3">Số điện thoại</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="SDT" id="SDT" class="form-control" placeholder="Nhập số điện thoại" required />
                    </div>
                    <div class="col-md-2 mb-3">Địa chỉ</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="DC" id="DC" class="form-control" placeholder="Nhập địa chỉ" required />
                    </div>
                    <div class="col-md-2 mb-3">Công việc</div>
                    <div class="col-md-10 mb-3">
                        <select class="form-control" name="CV" id="CV">
                            <option selected>Chọn công việc</option>
                            <option value="Nhân viên">Nhân viên</option>
                            <option value="Hướng dẫn viên">Hướng dẫn viên</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Tài khoản</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="TK" id="TK" class="form-control" placeholder="Nhập tài khoản" />
                    </div>
                    <div class="col-md-2 mb-3">Mật khẩu</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="MK" id="MK" class="form-control" placeholder="Nhập mật khẩu" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="HienThi">
    <div class="modal-content">
        <div class="modal-header pt-0">
            <div class="modal-title"></div>
            <span class="close" data-dismiss="modal">&times;</span>
        </div>
        <form method="post" action="~/Admin/NhanVien/Them1NhanVien" enctype="multipart/form-data">
            <input type="hidden" id="MNV" name="MNV" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 mb-3">Tài khoản</div>
                    <div class="col-md-10 mb-3" id="vTK">
                    </div>
                    <div class="col-md-2 mb-3">Mật khẩu</div>
                    <div class="col-md-10 mb-3" id="vMK">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function ThemNhanVien() {
        $("#aoe").val("1");
        $("#CV").val('Chọn công việc');
        $("#modal").modal("show");
        $(".modal-title").html("Thêm nhân viên");
    }

    function SuaNhanVien(id) {
        $("#aoe").val("0");
        (jQuery).get("/Admin/NhanVien/Lay1NhanVien", { id: id }, function (data) {
            $("#TNV").val(data.TenNhanVien);
            $("#SDT").val(data.SoDienThoai);
            $("#DC").val(data.DiaChi);
            $("#CV").val(data.CongViec);
            $("#TK").val(data.TaiKhoan);
            $("#MK").val(data.MatKhau);
        });
        $("#modal").modal("show");
        $(".modal-title").html("Sửa nhân viên");
    }

    function HienThi1NhanVien(id) {
        (jQuery).get("/Admin/NhanVien/Lay1NhanVien", { id: id }, function (data) {
            $("#vTK").html(data.TaiKhoan);
            $("#vMK").html(data.MatKhau);
        });
        $("#HienThi").modal("show");
        $(".modal-title").html("Sửa nhân viên");
    }
</script>









