@model IEnumerable<DoAn3_Vietravel.Areas.Admin.Models.Ve>
@using DoAn3_Vietravel.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">Vé</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="card-title">Vé</strong>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary float-right bor-rd" onclick="ThemVe()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bootstrap-data-table-export_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer chunho" role="grid" aria-describedby="bootstrap-data-table-export_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Tên vé</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Hình ảnh</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Kiểu vé</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Ngày khởi hành</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Thời gian</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Giá</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">ID khách sạn</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">ID hdv</th>
                                                <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Thao tác</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.IDVe</td>
                                                    <td>@item.TenVe</td>
                                                    <td>
                                                        <img src="~/Assets/images/Tour/@item.HinhAnh" style="width:130px; height:70px;" />
                                                    </td>
                                                    <td>@item.KieuVe</td>
                                                    <td>@item.NgayKhoiHanh</td>
                                                    <td>@item.ThoiGian</td>
                                                    <td>@item.Gia</td>
                                                    <td>@item.IDKhachSan</td>
                                                    <td>@item.IDNhanVien</td>
                                                    <td>
                                                        <a class="btn bor-rd btn-primary" onclick="HienThiVe('@item.IDVe')"><i class="fa fa-eye"></i></a>
                                                        <button class="btn btn-info bor-rd" onclick="SuaVe('@item.IDVe')"><i class="fa fa-edit"></i></button>
                                                        <a class="btn btn-danger bor-rd" onclick="return confirm('Bạn có chắc chắn muốn xoá khách hàng này không?')" href="~/Admin/Ve/Xoa1Ve/@item.IDVe"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>

<div class="modal" id="ThemVe">
    <div class="modal-content">
        <div class="modal-header pt-0">
            <div class="modal-title"></div>
            <span class="close" data-dismiss="modal">&times;</span>
        </div>
        <form method="post" action="~/Admin/Ve/Them1Ve" enctype="multipart/form-data">
            <input type="hidden" id="aoe" name="aoe" value="1" />
            <input type="hidden" id="MV" name="MV" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 mb-3">Tên vé</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="TV" id="TV" class="form-control" placeholder="Nhập tên vé" required />
                    </div>
                    <div class="col-md-2 mb-3">Hình ảnh</div>
                    <div class="col-md-10 mb-3">
                        <input type="file" name="HA" id="HA" multiple/>
                    </div>
                    <div class="col-md-2 mb-3">Kiểu vé</div>
                    <div class="col-md-10 mb-3">
                        <select type="text" name="KV" id="KV" class="form-control">
                            <option disabled>Chọn kiểu vé</option>
                            <option value="Vé cao cấp">Vé cao cấp</option>
                            <option value="Vé tiêu chuẩn">Vé tiêu chuẩn</option>
                            <option value="Vé tiết kiệm">Vé tiết kiệm</option>
                            <option value="Vé giá tốt">Vé giá tốt</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Ngày khởi hành</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="NKH" id="NKH" class="form-control" placeholder="Nhập ngày khởi hành" required />
                    </div>
                    <div class="col-md-2 mb-3">Ngày kết thúc</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="NKT" id="NKT" class="form-control" placeholder="Nhập ngày kết thúc" />
                    </div>
                    <div class="col-md-2 mb-3">Nơi tập trung</div>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="NTT" id="NTT" class="form-control" placeholder="Nhập nơi tập trung" />
                    </div>
                    <div class="col-md-2 mb-3">Nhập thời gian</div>
                    <div class="col-md-10 mb-3">
                        <input type="number" name="TG" id="TG" class="form-control" placeholder="Nhập thời gian" required />
                    </div>
                    <div class="col-md-2 mb-3">Lịch trình</div>
                    <div class="col-md-10 mb-3">
                        <textarea name="LT" id="LT" class="form-control" placeholder="Nhập lịch trình" required></textarea>
                    </div>
                    <div class="col-md-2 mb-3">Giá</div>
                    <div class="col-md-10 mb-3">
                        <input type="number" name="GB" class="form-control" id="GB" min="100000" step="10000" value="0" required />
                    </div>
                    <div class="col-md-2 mb-3">Số chỗ</div>
                    <div class="col-md-10 mb-3">
                        <input type="number" class="form-control" name="SC" id="SC" min="1" step="1" placeholder="Nhập số chỗ" required />
                    </div>
                    <div class="col-md-2 mb-3">Trạng thái</div>
                    <div class="col-md-10 mb-3">
                        <select name="TT" id="TT" class="form-control">
                            <option disabled>Chọn trạng thái</option>
                            <option value="0" selected>Ngừng bán</option>
                            <option value="1">Giao bán</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Hình thức vận chuyển</div>
                    <div class="col-md-10 mb-3">
                        <select name="VC" id="VC" class="form-control">
                            <option disabled>Chọn hình thức vận chuyển</option>
                            <option>Ô tô</option>
                            <option>Máy bay</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Khách sạn</div>
                    <div class="col-md-10 mb-3">
                        <select name="MKS" id="MKS" class="form-control">
                            <option disabled>Chọn khách sạn</option>
                            @{
                                var dsks = ViewBag.IDKS as List<KhachSan>;
                                foreach (var item in dsks)
                                {
                                    <option name="MKS" id="MKS" value="@item.IDKhachSan">@item.TenKhachSan</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Hướng dẫn viên</div>
                    <div class="col-md-10 mb-3">
                        <select name="MNV" id="MNV" class="form-control">
                            <option disabled>Chọn hướng dẫn viên</option>
                            @{
                                var dsnv = ViewBag.IDNV as List<NhanVien>;
                                foreach (var item in dsnv)
                                {
                                    <option value="@item.IDNhanVien">@item.TenNhanVien</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">Lưu ý</div>
                    <div class="col-md-10 mb-3">
                        <textarea class="form-control" name="LY" id="LY" placeholder="Nhập lưu ý"></textarea>
                    </div>
                    <div class="col-md-2 mb-3">Ghi chú</div>
                    <div class="col-md-10 mb-3">
                        <textarea name="GC" id="GC" class="form-control" placeholder="Nhập ghi chú"></textarea>
                    </div>
                    <div class="col-md-2 mb-3">Phụ thu</div>
                    <div class="col-md-10 mb-3">
                        <input type="number" name="PT" id="PT" value="0" class="form-control" />
                    </div>
                    <div class="col-md-2 mb-3">Loại vé</div>
                    <div class="col-md-10 mb-3">
                        <select name="MLV" id="MLV" class="form-control">
                            <option disabled>Chọn loại vé</option>
                            @{
                                var dslv = ViewBag.IDLV as List<LoaiVe>;
                                foreach (var item in dslv)
                                {
                                    <option value="@item.IDLoaiVe">@item.TenLoaiVe</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="HienThi">
    <div class="modal-content">
        <div class="modal-header pt-0">
            <div class="modal-title"></div>
            <span class="close" data-dismiss="modal">&times;</span>
        </div>
        <form method="post" action="~/Admin/Ve/Them1Ve" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 mb-3">Mã vé</div>
                    <div class="col-md-10 mb-3" id="vMV">
                    </div>
                    <div class="col-md-2 mb-3">Tên vé</div>
                    <div class="col-md-10 mb-3" id="vTV">
                    </div>
                    <div class="col-md-2 mb-3">Kiểu vé</div>
                    <div class="col-md-10 mb-3" id="vKV">
                    </div>
                    <div class="col-md-2 mb-3">Ngày khởi hành</div>
                    <div class="col-md-10 mb-3" id="vNKH">
                    </div>
                    <div class="col-md-2 mb-3">Ngày kết thúc</div>
                    <div class="col-md-10 mb-3" id="vNKT">
                    </div>
                    <div class="col-md-2 mb-3">Nơi tập trung</div>
                    <div class="col-md-10 mb-3" id="vNTT">
                    </div>
                    <div class="col-md-2 mb-3">Thời gian</div>
                    <div class="col-md-10 mb-3" id="vTG">
                    </div>
                    <div class="col-md-2 mb-3">Lịch trình</div>
                    <div class="col-md-10 mb-3" id="vLT">
                    </div>
                    <div class="col-md-2 mb-3">Giá</div>
                    <div class="col-md-10 mb-3" id="vGB">
                    </div>
                    <div class="col-md-2 mb-3">Số chỗ</div>
                    <div class="col-md-10 mb-3" id="vSC">
                    </div>
                    <div class="col-md-2 mb-3">Trạng Thái</div>
                    <div class="col-md-10 mb-3" id="vTT">
                    </div>
                    <div class="col-md-2 mb-3">Hình ảnh</div>
                    <div class="col-md-10 mb-3" id="vHA">
                    </div>
                    <div class="col-md-2 mb-3">Vận chuyển</div>
                    <div class="col-md-10 mb-3" id="vVC">
                    </div>
                    <div class="col-md-2 mb-3">ID Khách Sạn</div>
                    <div class="col-md-10 mb-3" id="vMKS">
                    </div>
                    <div class="col-md-2 mb-3">ID HDV</div>
                    <div class="col-md-10 mb-3" id="vMNV">
                    </div>
                    <div class="col-md-2 mb-3">Lưu ý</div>
                    <div class="col-md-10 mb-3" id="vLY">
                    </div>
                    <div class="col-md-2 mb-3">Ghi chú</div>
                    <div class="col-md-10 mb-3" id="vGC">
                    </div>
                    <div class="col-md-2 mb-3">Phụ thu</div>
                    <div class="col-md-10 mb-3" id="vPT">
                    </div>
                    <div class="col-md-2 mb-3">ID loại vé</div>
                    <div class="col-md-10 mb-3" id="vMLV">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function ThemVe() {
        $("#aoe").val('1');
        $("#TV").val('');
        $("#KV").val('Chọn kiểu vé');
        $("#NKH").val('');
        $("#NKT").val('');
        $("#NTT").val('');
        $("#TG").val('');
        $("#LT").val('');
        $("#GB").val('0');
        $("#SC").val('');
        $("#HA").val('');
        $("#TT").val('Chọn trạng thái');
        $("#VC").val("Chọn hình thức vận chuyển");
        $("#MKS").val('Chọn khách sạn');
        $("#MNV").val('Chọn hướng dẫn viên');
        $("#LY").val('');
        $("#GC").val('');
        $("#PT").val('0');
        $("#MLV").val('Chọn loại vé');
        $("#ThemVe").modal("show");
        $(".modal-title").html("Thêm vé");
    }

    function SuaVe(id) {
        $("#aoe").val("0");
        (jQuery).get("/Admin/Ve/Lay1Ve", { id: id }, function (data) {
            $("#MV").val(data.IDVe);
            $("#TV").val(data.TenVe);
            $("#KV").val(data.KieuVe);
            $("#NKH").val(data.NgayKhoiHanh);
            $("#NKT").val(data.NgayKetThuc);
            $("#NTT").val(data.NoiTapTrung);
            $("#TG").val(data.ThoiGian);
            $("#LT").val(data.LichTrinh);
            $("#GB").val(data.Gia);
            $("#SC").val(data.SoCho);
            $("#TT").val(data.TrangThai);
            $("#VC").val(data.HinhThucVanChuyen);
            $("#MKS").val(data.IDKhachSan);
            $("#MNV").val(data.IDNhanVien);
            $("#LY").val(data.LuuY);
            $("#GC").val(data.GhiChu);
            $("#PT").val(data.PhuThu);
            $("#MLV").val(data.IDLoaiVe);
            $("#HA").val(data.HinhAnh);
        });
        $("#ThemVe").modal("show");
        $(".modal-title").html("Sửa vé");
    }

    function HienThiVe(id) {
        (jQuery).get("/Admin/Ve/Lay1Ve", { id: id }, function (data) {
            $("#vMV").html(data.IDVe);
            $("#vTV").html(data.TenVe);
            $("#vKV").html(data.KieuVe);
            $("#vNKH").html(data.NgayKhoiHanh);
            $("#vNKT").html(data.NgayKetThuc);
            $("#vNTT").html(data.NoiTapTrung);
            $("#vTG").html(data.ThoiGian);
            $("#vLT").html(data.LichTrinh);
            $("#vGB").html(data.Gia);
            $("#vSC").html(data.SoCho);
            $("#vTT").html(data.TrangThai);
            $("#vHA").html(data.HinhAnh);
            $("#vVC").html(data.HinhThucVanChuyen);
            $("#vMKS").html(data.IDKhachSan);
            $("#vMNV").html(data.IDNhanVien);
            $("#vMNV").html(data.IDNhanVien);
            $("#vLY").html(data.LuuY);
            $("#vGC").html(data.GhiChu);
            $("#vPT").html(data.PhuThu);
            $("#vMLV").html(data.IDLoaiVe);
        });
        $("#HienThi").modal("show");
        $(".modal-title").html("Hiển thị vé");
    }
</script>













